@import url("https://fonts.googleapis.com/css2?famil  y=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
html,
body {
  font-family: "work sans", sans-serif;
}
/* sharde style */
.btn-primary {
  font-size: 1.2rem;
  color: #fff;
  padding: 20px 25px;
  border-radius: 8px;
  background: #ff900e;
}

/* ______________________header______________________ */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
}
.nav-titel {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}

/* ______________________banner______________________ */
.banner-contant {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-titel {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner-description {
  color: #727272;
}
