@import url("https://fonts.googleapis.com/css2?famil  y=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
html,
body {
  font-family: "work sans", sans-serif;
}
/* sharde style */
.btn-primary {
  font-size: 1.25rem;
  color: #fff;
  padding: 20px 25px;
  border-radius: 8px;
  background: #ff900e;
  cursor: pointer;
  border: 0;
}
.text-light-gray {
  color: #727272;
}
/* ______________________header______________________ */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
}
.nav-titel {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}

/* ______________________banner______________________ */
.banner-contant {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-titel {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner img {
  margin-top: 20px;
  width: 100%;
}

/* _____________main________________ */

main {
  margin: 70px auto;
  max-width: 1400px;
}

/* teams style */
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.teams-contaienr {
  display: flex;
  align-items: center;
}
.teams-contant {
  padding-right: 70px;
  padding-left: 70px;
}
.teams-titel {
  font-size: 2.8rem;
}
.teams-titel .quick-list {
  color: #727272;
  font-weight: 500;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}
.teams-titel .features {
  color: #ff900e;
  font-weight: 700;
}
/* ____________featurs____________ */
.features {
  margin-top: 130px;
  gap: 100px;
  display: flex;
}
.features .section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.features-contant .card {
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-img img {
  height: 90%;
  margin-left: 90px;
}
.ten-year-badge {
  border-radius: 10px;
  background: #ff900e;
  color: #fff;
  width: 342px;
  padding: 40px;
  position: relative;
  bottom: 100px;
}
.ten-year-badge h2 {
  font-size: 4rem;
  margin: 0;
}
.ten-year-badge p {
  font-size: 1.5rem;
  text-align: center;
}
/* __________somefact_________ */
.facts-container {
  display: flex;
  justify-content: space-around;
}
.facts-container .fact-card {
  border: 1px solid #ff900e;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}

.fact-description {
  max-width: 540px;
}
/* sponsor */
.sponsor-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {
  filter: grayscale(100%);
}

/* ______________responsiv________________ */
/* --------mobile--------------- */

@media screen and (max-width: 768px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-contaienr,
  .facts-container,
  .features {
    flex-direction: column;
  }
  .sponsor-companies,
  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
  }
  .feature-img img {
    width: 100%;
    margin-left: 0;
  }
  .ten-year-badge {
    position: static;
    max-width: 280px;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .teams-contant {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* ___________________teblet________________ */
@media screen and (min-width: 768px) and (max-width: 960px) {
  nav,
  .teams-contaienr,
  .features {
    flex-direction: column;
  }
  header {
    padding: 50px;
  }
  .sponsor-companies {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
  }
  #experience-badge {
    margin-top: 20px;
    margin-left: 20px;
  }
}
